<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.uidesign">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/app_id"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCKR8Wi9ARG5IKgkpFUp__3PJcT_hiwQM0"/>


        <activity
            android:name=".StartUpScreen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.facebook.FacebookActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:authorities="com.facebook.app.FacebookContentProvider929468050518628"
            android:name="com.facebook.FacebookContentProvider"
            android:exported="true"/>


        <activity android:name=".MainActivity">

        </activity>

        <activity android:name=".MainMenu">

        </activity>

        <activity android:name=".ResturantActivity">

        </activity>
        <activity android:name=".EventsActivity"></activity>
        <activity android:name=".Setting_Page">


        </activity>

        <activity android:name=".setDinnerPref"></activity>
        <activity android:name=".setActivityPref"></activity>
        <activity android:name=".setLunchPref"></activity>
        <activity android:name=".setBreakPref"></activity>

        <activity android:name=".BarHoppingMode"></activity>





        <service
            android:name=".GPSLocationService"
            android:stopWithTask="true"
            />
    </application>

</manifest>
